<% if (!noMenu && !me) { %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="image-logo" alt="Caption" src="/images/logo-fresq-full.png">
      </a>
    </div>
     </div>
</nav>

<link rel="stylesheet" href="/styles/white/navigation.css">

<% } %>