<!-- Default home page -->
<div class="modal fade" id="signUpModal"></div>

<div id="container">

  <div id="playground" class="section background">
    <div id="menu">
      <span class="icon"></span>
      <span class="right" id="menuRight">
        <!--<a target="_blank" href="http://blog.fresq.co/">BLOG</a>|-->
      </span>
    </div>
    <div>
      <h1>Playground for visual minds</h1>

      <hr class="separator light-green">

      <p>Forget heavy workflows, focus on creativity. We make it easy</p>
      <p>for marketing teams and ad agencies to create amazing visuals together.</p>

      <input type="email" placeholder="Enter Email">
      <button class="signup 0">SIGN UP</button>
    </div>

  </div>

  <div id="simplify" class="section">
    <div class="triangle"></div>
    <div class="sep grey">
      <div class="left">  
        <h2>Simplify your creative workflow</h2>
        <hr class="separator grey">
        <p>The easiest solution for agencies to collaborate on visual assets for creative marketing campaigns.</p>
      </div>
    </div>
    <div class="sep">
      <div class="right">
        <div class="categorie">
          <div class="img annotate"></div>
          <h3>CENTRALIZE</h3>
          <p>Centralize your project’s documents,</p>
          <p>versions and collaborators in one place.</p>
        </div>

        <div class="categorie">
          <div class="img centralize"></div>
          <h3>ANNOTATE</h3>
          <p>Add visual feedback directly on creative </p>
          <p>assets, all in real time.</p>
        </div>

        <div class="categorie">
          <div class="img approve"></div>
          <h3>APPROVE</h3>
          <p>Manage your review & approval process </p>
          <p>within Caption, without writing another email. </p>
        </div>

        <div class="categorie">
          <div class="img archive"></div>
          <h3>ARCHIVE</h3>
          <p>Keep track of all your projects and easily </p>
          <p>navigate through versions and comments.</p>
        </div>
        <button id="sign-up-now">SIGN UP NOW</button>
      </div>

    </div>


  </div>

  <div id="feedback" class="section">
    <div class="sep">
      <div class="left">
        <h3 class="title-black">Feedback made visual</h3>
        <p>Caption makes feedback visual by letting you and your team directly add comments onto your designs and save yourself from another email.</p>
        <p>Consolidate and share your feedback through Caption. Say goodbye to 20 lines of email starting with « at the top right... ».</p>
        <a class="sign-up" href="#about"><span class="sprite arrow">arrow</span> SIGN UP</a>
      </div>
    </div>

    <div class="sep background"></div>

  </div>


  <div id="creative" class="section">
    
    <div class="sep background"></div>

    <div class="sep">
      <div class="right">
        <h3 class="title-black">Creative collaboration anywhere</h3>
        <p>Caption keeps everything related to your creative project in one place and makes it accessible at any time to all your stakeholders.</p>
        <p>Save time sharing versions, documents and deadlines seamlessly across teams.</p>
        <p>Easily navigate through different versions of a visual and view its evolution.</p>
        <a class="sign-up" href="#about"><span class="sprite arrow">arrow</span>SIGN UP</a>
      </div>

    </div>


  </div>


  <div id="status" class="section">
    <div class="sep">
      <div class="left">
        <h3>Clear status updates for each milestone</h3>
        <p>Keep a clear status of where the project is at and easily send updates to the relevant people.</p>
        <p>Caption gives your team full visibility on the next actions required and helps you collect approvals in time.</p>
        <a class="sign-up" href="#about"><span class="sprite arrow">arrow</span> SIGN UP</a>
      </div>

    </div>
    <div class="sep background"></div>

  </div>

  <div id="manage" class="section">
    <div class="sep background"></div>
    <div class="sep">
      <div class="right">
        <h3>Manage multiple projects like never before</h3>
        <p>Manage multiple clients and projects through your personal dashboard, with an aggregated view of your productions, documents and deadlines.</p>
        <p>Caption is used to collaborate on all types of creative projects such as designs, print, website banners, leaflets or POS material.</p>
        <a class="sign-up" href="#about"><span class="sprite arrow">arrow</span> SIGN UP</a>
      </div>
    </div>
  </div>

  <div id="about" class="section">
    <div class="sep">
      <div class="left">
        <h2>Sign up today</h2>
        <hr class="separator white">
      </div>
    </div>


    <div class="sep">
      <div class="right">
        <p>We've opened a private beta to our first clients.</p>
        <p>Sign up to participate and benefit from early access privileges.</p>
        <input class="email-purple" type="email" placeholder="Enter Email">
        <button class="green signup 1">SUBMIT</button>
      </div>

    </div>



  </div>

  <div class="footer">
    
    <div class="icon"></div>

    <p>Caption</p>
    <!--♥-->
    <p>Made with <span class="sprite coeur">coeur</span> in Paris.</p>
    <a href="mailto:tristan@fresq.co">EMAIL US</a>

  </div>
  <div class="footer">
    
    <div class="contain">
      
      <div>
        <ul>
          <li>CAPTION</li>
          <li><a href="#simplify">Features</a></li>
        </ul>
      </div>

      <!--<div>
        <ul>
          <li>ABOUT US</li>
          <li><a href="http://blog.fresq.co/">Blog</a></li>
          <li>Team</li>
        </ul>
      </div>-->

      <div>
        <!--
        <span id="fb" onclick="javascript:var url = 'http://facebook.com/sharer/sharer.php?u=';window.open(url+window.location.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></span>
        <span id="twitter" onclick="javascript:var url = 'http://twitter.com/intent/tweet?text=Fresq : collaboration for creative projects&url=';window.open(url+window.location.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></span>

        -->

        <a id="fb" href="https://www.facebook.com/captionapp" target="_blank"></a>
        <a id="twitter" href="https://twitter.com/meetcaption" target="_blank"></a>
        
      </div>

    </div>

  </div>

  <div id="footer-copyright">
    <p>© Captionapp.co/ tout droits reservés</p>
  </div>

  <div id="modal-container" class="hide">
    <div id="overlay"></div>
    <div id="modal">
      <div id="close"></div>
      <div class="square">
        <h1>Thank you for signing up !</h1>
        <hr class="separator grey">
        <p>We’ll be in touch soon with an invite to Caption!</p>
        <p class="italic">Share via/</p>
        <span id="fb" onclick="javascript:var url = 'http://facebook.com/sharer/sharer.php?u=';window.open(url+window.location.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></span>
        <span id="twitter" onclick="javascript:var url = 'http://twitter.com/intent/tweet?text=Caption : collaboration for creative projects&url=';window.open(url+window.location.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></span>
      </div>
    </div>
  </div>
</div>

<script src="/react/signUp.js"></script>