<!DOCTYPE html>
<html>
<head>
  <title>medGo : application</title>
  <meta charset="UTF-8">
  <meta name="viewport">
  <meta name="description" content="Test">
  <meta name="keywords" content="test">


  
  <!--<link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">-->
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body class="background-dark">
  <%- body %>

  <!--<script src="/js/dependencies/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/jquery.min.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
