<!DOCTYPE html>
<html>
<head>
  <title>Caption : collaboration for creative projects</title>
  <meta charset="UTF-8">
  <meta name="viewport">
  <meta name="description" content="Collaboration for creative projects.">
  <meta name="keywords" content="caption, creative, crea, feedback, manage, simplify, simplification">

  <meta name="apple-mobile-web-app-title" content="Caption">
  <meta name="application-name" content="Caption">
  <meta property="og:title" content="Caption : collaboration for creative projects" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://captionapp.co/" />
  <meta property="og:image" content="http://captionapp.co/assets/images/home-big.jpg" />
  <meta property="og:locale" content="en_US" />


  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/white/application.css">
  <!--STYLES END-->
</head>

<body class="background-dark">
  <%- partial('./partials/navigation.ejs') %>
  <%- body %>
  <!--SCRIPTS-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
