.section {
    height: 700px;
}

.background {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

#playground404 {
    background-image: url(../../images/licorne-for-error.png);
    background-position: 60px top, left;
    background-color: #f6f6f6;
    background-size:auto 700px;
}

.background404{
    background-color: #f6f6f6;
}

.h3-404{
    font-family: pier_sans;
    font-size: 36px;
    color: #5358ef;
}

.p-404{
    font-family: pier_sans;
    font-size: 24px;
    line-height: 1.1;
    color: #4a4a4a;
}

.p-mini-404{
    font-family: 'Helvetica Neue Italic';
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #4a4a4a;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}